<div class="container xsx-width">
  <div class="intro_faq">
    <h2>¿Cómo llegar?</h2>
    <p><a href="#">Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.</a> Proin ornare ac leo et mattis. Nulla id augue arcu. Suspendisse consectetur pretium nulla quis lacinia. Vestibulum eu tortor id neque varius iaculis. Mauris malesuada consequat auctor. Nam eget elementum justo, non aliquet dui. Maecenas vel nulla lacus.</p>
  </div>

  <div class="panel panel-primary" id="quieness">
    <div class="panel-heading">
      <h3 class="panel-title">Quienes Somos</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-3"></div>
      <div class="col-md-9" style="color: #666">
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
      </div>
    </div>
  </div>
  <div class="panel panel-primary" id="trayectoria">
    <div class="panel-heading">
      <h3 class="panel-title">Nuestra Trayectoria</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-3"></div>
      <div class="col-md-9" style="color: #666">
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
      </div>
    </div>
  </div>
  <div class="panel panel-primary" id="misvi">
    <div class="panel-heading">
      <h3 class="panel-title">Misión y Visión</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-3"></div>
      <div id="valores" class="col-md-9" style="color: #666">
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Valores</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-3"></div>
      <div class="col-md-9" style="color: #666">
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
      </div>
    </div>
  </div>
  <div id="calidad"></div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Políticas de calidad</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-3"></div>
      <div class="col-md-9" style="color: #666">
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
        Etiam rhoncus nisi quis magna posuere, non tincidunt sem mattis. Nulla ftacilisi.
      </div>
    </div>
  </div>
</div>
<!-- ===== End All Sections ===== -->
</div>
</div>